@use "../../global.scss";

.header {
    display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 16px;
  border: 1px solid #000;

  .icon-theme {
    button {
      border: 1px solid gray;
      border-radius: 7px;
      display: flex;
      padding: 4px;
      color: var(--text-color);
      background-color: transparent;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
