@use "../../global.scss" as *;

.home {
  margin-top: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

   @include shoppingCartStyles;
}
