@use "../../global.scss" as *;

.home {
  @include shoppingCartStyles;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  text-align: center;
  
}
