:root {
  --background-color: #ffffff;
  --text-color: #000000;
  font-family: poppins, sans-serif;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;

  // #region header

  // #endregion header
}

[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;

  // #region header

  // #endregion header


}


  @mixin shoppingCartStyles {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 16px;
     

      li {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
        padding: 16px;

        .cardItem {
          display: flex;
          align-items: start;
          justify-content: space-between;
          gap: 10px;
          flex-direction: column;
          width: 300px;
          height: 550px;
          padding: 16px;
          box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.155);
          border-radius: 6px;

          img {
            width: 100%;
          }

          .infoPrice{
            display: flex;
            flex-direction: column;
            align-items: start;
                height: 140px;
    justify-content: space-around;

            p {
              text-align: left;
            }
          }

          .addOrDelItems {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #949494;
        
            
            .addIcon, .removeIcon {
              cursor: pointer;
              font-size: 20px;
              
            }

            span {
              background-color: #dbdbdb;
              padding: 0px 20px;
            }
          }
        }
      }
    }
  }

  // #endregion shoppingCart

body {
  background-color: var(--background-color);
  color: var(--text-color);

  button {
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-family: poppins, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.301);
    
    
  }
}
